/* MAIN PAGE STYLE */
/* --------------- */

/* FONTS */
/* ----- */
@font-face {
    font-family: 'montserratlight';
    src: url('/fonts/montserrat-light-webfont.eot');
    src: url('/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-light-webfont.woff') format('woff'),
         url('/fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('/fonts/montserrat-regular-webfont.eot');
    src: url('/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('/fonts//fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratultra_light';
    src: url('/fonts/montserrat-ultralight-webfont.eot');
    src: url('/fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-ultralight-webfont.woff') format('woff'),
         url('/fonts/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansblack';
    src: url('/fonts/ostrich-black-webfont.eot');
    src: url('/fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-black-webfont.woff2') format('woff2'),
         url('/fonts/ostrich-black-webfont.woff') format('woff'),
         url('/fonts/ostrich-black-webfont.ttf') format('truetype'),
         url('/fonts/ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('/fonts/ostrich-regular-webfont.eot');
    src: url('/fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-regular-webfont.woff2') format('woff2'),
         url('/fonts/ostrich-regular-webfont.woff') format('woff'),
         url('/fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('/fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sans_roundedmedium';
    src: url('/fonts/ostrich-rounded-webfont.eot');
    src: url('/fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-rounded-webfont.woff2') format('woff2'),
         url('/fonts/ostrich-rounded-webfont.woff') format('woff'),
         url('/fonts/ostrich-rounded-webfont.ttf') format('truetype'),
         url('/fonts/ostrich-rounded-webfont.svg#ostrich_sans_roundedmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.headerMenu, .footerMenu, .right.menu {
  font-size: 1.1em !important;
  box-shadow: 0px 0px 0px 0px !important;
}

.footerMenu {
  font-family: 'montserratregular' !important;
}

.right.menu {
  border: 0px !important;
  font-family: 'ostrich_sansblack' !important;
}

.headerMenu input {
  font-size: 0.7em !important;
  font-family: 'montserratregular' !important;
}

.noVenuesLoaded {
  height: 100vh !important;
  width: 100vw !important;
  vertical-align: middle !important;
}

.noVenuesLoaded h1 {
  font-family: 'montserratregular' !important;
  text-transform: uppercase !important;
  margin-top: 35vh !important;
}

.cards {
  margin-top: 70px !important;
  margin-bottom: 49px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.ui.cards > .card > :last-child, .ui.card > :last-child {
  border-radius: 0px !important;
}

.card {
  border-radius: 0px !important;
}

.card .header {
  font-family: 'montserratregular' !important;
}

.card .description {
  font-family: 'ostrich_sansblack' !important;
}

.card .extra.content {
  padding:0px !important;
}

.card .extra.content .segment {
  height: 34px !important;
}

.detailsHeader, .detailsContent {
  width: 100vw !important;
  height: 50vh !important
}

.detailsHeader h2 .content, .detailsContent h2 .content {
  font-family: 'montserratregular' !important;
}

.detailsHeader h2 .sub.header, .detailsContent h2 .sub.header {
  font-family: 'ostrich_sansblack' !important;
}

.detailsHeader {
  background-image: url("img/house.jpg") !important;
}
